.filter{
            
    &__title--visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    &__list {
        @extend %list-reset;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        gap: 15px 8px;

        @include mq(mob-only) {
                flex-wrap: wrap;
                justify-content: flex-start;
            }
    }

    &__item {
        display: block;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
    }
}


.filter__button {
    padding-top: 6px;
    padding-right: 22px;
    padding-left: 22px;
    padding-bottom: 6px;

    @include fonts (16px, 26px, 500);
    
    color: var(--title-text-color);
    background-color: var(--button-bcr-color);
    box-shadow: none;

    transition: color var(--transition), background-color var(--transition),
        box-shadow var(--transition);
        
        &:hover,
        &:focus,
        &:active {
    color: var(--button-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

