.team {
        background-color: #f5f4fa;
}


.team__title {
    margin-bottom: 30px;

    @include mq(desk) {
        margin-bottom: 50px;
        }

}

.team__card-item {
    @extend %list-reset;
 
    @include mq(desk) {
     --card-item: 4;
 }
   

    background-color: #fff;
    text-align: center;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team__describtion { 
    padding-top: 30px;
    padding-bottom: 24px;

 @include mq(desk) {
padding-bottom: 30px;
}
   
}
 
.team__subtitle {
    @include fonts(16px, 19px, 500);
    margin-bottom: 10px;
    color: var(--title-text-color);
}

.team__text {

    @include fonts(16px, 19px, 400);
    color: var(--primary-text-color);
    margin-bottom: 16px;
}